.container {
  background-color: #747475;
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  width: 240px;
  text-align: center;

  &:focus-visible {
    outline: 2px solid red;
  }
}
